$white			: #ffffff;
$suplightgray   : #F8F8F8;
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$dark-gray		: #363636;
$darker-gray	: #303030;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$brightyellow   : #FC1;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;
$lime			: #b0eb00;
$bright-red  	: #b30015;
$deep-cerulean	: #0077b3;
$bondi-blue		: #00b0b3;
$cyan           : #24fbff;
$heliotrope     : #8a7dff;
$silver-chalice : #a6a6a6;
$scorpion       : #595959;
$tundora        : #444;
$mine-shaft     : #363636;
$cod-gray       : #111;
$cyan           : #00b0b3;
$transparent-cyan: #24fbff;